<div class="row">
<div class="column large-6 panel left">
<div id="clearance" class="sign-up">
  <h2 class="newfont3">Sign up</h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

 <!--    <div class="submit-field">
      <form method=get action="/sign_up">
          <button class="success button"> Sign Up </button>
          </form>
    </div>
 -->
    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
</div>
</div>
