

<div class="row">
<h1 class="newfont">Pairbnb</h1>
<p class="newfont2">Find your next home here.</p>
</div>
<div class="row panel">

     <% if signed_in? %> 
    <div class="column large-6 medium-6 panel white" id="header">  
      <%= button_to ("Sign out"), sign_out_path, method: :delete %>
      </div>
    <% end %>
      
    <% if signed_in? != true and current_user == nil %>
    <div class="column large-6 medium-6 panel white">
    <div id="user-widget">
      <form method=get action=/auth/facebook>
        <button class="large facebook left-icon button split"><span></span>Sign in with Facebook! </button><br>
      </form>
    </div>
    </div>
        <%= render partial: '/sessions/form' %>
      <% end %>
      </div>

