<%# navigation styled for Zurb Foundation 5 %>
 <div class= "fixed contain-to-grid sticky pink">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1 class= "pink"><a href="/"><h3><img src="http://www.rovignon.com/wp-content/uploads/2014/11/airbnb_logo_detail2.png" height="50" width="100"></h3></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <div class="top-bar-section">
    <ul class="right">
   
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
</div>